a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

/*Header*/
.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__icons {
    height: 100%;
    max-width: 100%;
}

/*Section1*/
.section1 {
    background-color: lightgray;
    padding-bottom: 32px;
}

.section1__banner {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.section1__h2 {
    margin: 0 16px 32px 16px;
    font-size: 40px;
    line-height: 1.5;
}

.section1__paragraph {
    margin: 0 16px 24px 16px;
    font-size: 25px;
    line-height: 1.2;
}

.section1__button {
    border: none;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    font-weight: 300;
    font-size: 25px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

/*Section 2*/
.section2 {
    padding: 16px 16px 24px 16px;
}

.section2__image {
    width: 100%;
    height: auto;
}

.section2__text {
    margin-left: 16px;
}

.section2__heading {
    font-size: 30px;
    margin-bottom: 0;
}

.section2__paragraph {
    font-size: 20px;
    margin-bottom: 20px;
}

.section2__link {
    font-size: 20px;
}

.section2__text:not(:last-child) {
    margin-bottom: 30px;
}