/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    color: rgb(0, 153, 255);
    text-decoration: none;
}

li {
    list-style: none;
}

/* ================================= 
    Base Layout Styles
  ==================================== */
/*Header*/
.header {
    height: 64px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__icons {
    max-width: 100%;
}

/*Section1*/
.section1 {
    background-color: lightgray;
    padding-bottom: 32px;
}

.section1__banner {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.section1__h2 {
    margin: 0 16px 32px 16px;
    font-size: 40px;
    line-height: 1.5;
}

.section1__paragraph {
    margin: 0 16px 24px 16px;
    font-size: 25px;
    line-height: 1.2;
}

.section1__button {
    border: none;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    font-weight: 300;
    font-size: 25px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

/*Section 2*/
.section2 {
    padding: 16px 16px 24px 16px;
}

.section2__image {
    width: 100%;
    height: auto;
}

.section2__text {
    margin-left: 16px;
}

.section2__heading {
    font-size: 30px;
    margin-bottom: 0;
}

.section2__paragraph {
    font-size: 20px;
    margin-bottom: 20px;
}

.section2__link {
    font-size: 20px;
}

.section2__text:not(:last-child) {
    margin-bottom: 30px;
}

/*Section3*/
.section3 {
    margin: 32px 0 32px 0;
}

.section3__heading {
    text-align: center;
    font-size: 40px;
}

.section3__list {
    padding: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.section3__list__item {
    padding: 16px 16px 24px 16px;
    font-size: 20px;
    background-color: lightgray;
}

.section3__list__item:not(:last-child) {
    margin-bottom: 8px;
}

/*Section 4*/
.section4__heading {
    margin-top: 32px;
    text-align: center;
    font-size: 40px;
}

.section4__video {
    margin-top: 16px;
    margin-bottom: 24px;
    max-width: 100%;
    height: auto;
    border: 2px solid lightgray;
}

/*Footer*/
.footer__paragraph {
    margin: 16px;
}

/*Hide desktop items*/
.desktop {
    display: none;
}

/* ================================= 
    Media Queries
==================================== */
@media (min-width: 768px){
    /*Nav*/
    .header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin-left: 24px;
        margin-right: 24px;
    }

    .desktop-logo-div {
        display: flex;
        align-items: center;
    }

    .logo {
        height: 50px;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    .logo-header {
        text-transform: uppercase;
        font-size: 30px;
    }

    .grey-text {
        color: lightgray;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
    }

    .desktop-nav__list {
        display: flex;
    }

    .desktop-nav__list-items {
        margin-right: 16px;
    }

    /*Section1*/
    .section1 {
        display: flex;
        justify-content: center;
        padding-top: 32px;
        padding-left: 24px;
    }

    .section1__banner {
        max-width: 100%;
    }

    .section1__h2 {
        font-size: 30px;
    }

    .section1__button {
        padding: 8px;
    }

    .banner-div {
        margin-right: 24px;
        flex-basis: 60%;
    }

    .banner-text-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-basis: 40%;
    }

    /*Section2*/
    .section2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .section2__col1 {
        display: block;
        margin: 0 auto;
    }

    .section2__col2 {
    }

    .section2__col1__image {
        width: 60%;
        margin: 0 auto;
    }

    .section2__image {
       width: 35%;
    }

    /*Hide mobile items*/
    .mobile {
        display: none;
    }
}